header {
  display: flex;
  background-color: var(--color0);
  width: 100%;
  min-height: 80px;
  border-bottom: 3px solid var(--color1);

  /* padding-left: 30px;
  padding-right: 30px; */
}
.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.logo-container a {
  color: white;
}
.logo img {
  height: 46px;
}
.logo-name {
  margin: 15px;
  /* font-family: "CustomFont", "Poppins", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.logo-name a {
  color: var(--color3);
}
.navlinks-cont {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.navlinks-cont a {
  color: white;
}
.nav-child {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-child:hover {
  background-color: var(--color1);
  border-radius: 3px;
  color: white;
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    border-bottom: none;
  }
  .navlinks-cont {
    background-color: var(--color1);
    padding: 5px;
  }
  .nav-child:hover {
    background-color: white;
    color: var(--color1);
  }
}
