:root {
  /* --color0: #000000;
        --color2: #6200ee;
        --color1: #03dac5;
        --color3: lightgrey; */
  --base1: rgb(235, 235, 235);
  --base2: rgb(20, 20, 20);
}
* {
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}
.to-do-list {
  /* background-color: rgb(245, 245, 245); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.bagian1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
  z-index: 1;
  opacity: 1;
}
.input-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.UTC {
  margin-top: 30px;
  height: 30px;
}
.header h2 {
  width: 400px;
  background-color: var(--base2);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.input-todolist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0px;
}
.input {
  width: 250px;
  min-height: 150px;
  text-align: center;
  border-radius: 5px;
  border: none;
  overflow-y: scroll;
}
.time {
  background-color: var(--base1);
  color: black;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base2);
  font-size: 1em;
  border: none;
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.submit button {
  width: 100px;
  height: 30px;
  background-color: cyan;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.input:focus,
.submit:focus {
  outline: none;
}
.submit:hover {
  opacity: 1;
}

.bagian2 {
  flex: 1;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}
.bagian2 h5 {
  margin-top: 30px;
  color: grey;
}
.display-todolist {
  margin-top: 10px;
  margin-bottom: 30px;
  overflow-y: auto;
  z-index: 1;
  border-radius: 10px;
  padding: 0px;
}
.display-todolist .list {
  background-color: white;
  color: gray;
}
.display-child {
  height: auto;
  margin: 10px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.list {
  /* filter: drop-shadow(0px 1px 2px grey); */
  border-radius: 5px;
  font-size: 0.8em;
  height: auto;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.time-display {
  margin-right: 5px;
  font-size: 0.8em;
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}
.red {
  background-color: red;
  color: white;
}
.yellow {
  background-color: yellow;
  color: black;
}
.green {
  background-color: greenyellow;
  color: black;
}
.normal {
  background-color: var(--base1);
  color: black;
}

.nav {
  background-color: cyan;
  border-radius: 5px;
  /* filter: drop-shadow(0px 1px 1.5px grey); */
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.done {
  color: white;
  background-color: var(--base2);
  height: 25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.delete {
  color: black;
  height: 25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .to-do-list {
    flex-direction: column;
  }
  .bagian1 {
    margin: 0px;
  }
  .bagian2 {
    height: auto;
    min-height: 100px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  .to-do-list {
    flex-direction: column;
  }
  .UTC {
    margin-top: 50px;
  }
  .header h2 {
    width: 320px;
  }
  .display-todolist {
    width: 320px;
    padding: 0px;
  }
  .display-child {
    width: 310px;
  }
  .list {
    width: 200px;
    border-radius: 3px;
    padding: 8px;
  }
  .nav {
    margin-left: 5px;
  }
  .time-display {
    margin-right: 5px;
    font-size: 0.7em;
    width: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
  }
}
.background {
  position: fixed;
  z-index: -1;
}
.background img {
  width: 100vw;
  opacity: 1;
  position: fixed;
  z-index: -2;
}
.back-color {
  width: 100vw;
  height: 100vh;
  background-color: var(--base1);
  opacity: 1;
}
.menu {
  height: 100vh;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--base2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu img {
  width: 60px;
  margin-top: 30px;
}
.project-nav {
  margin-top: 20px;
  width: 60px;
  color: white;
  text-align: center;
}
.project-nav:hover {
  color: cyan;
}
.ads {
  margin-top: 20px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .menu {
    height: 60px;
    width: 100vw;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
  }
  .menu img {
    width: 60px;
    margin-right: 50px;
    margin-top: 10px;
  }
  .project-nav {
    margin-top: 10px;
    width: 120px;
  }
  .ads {
    margin-top: 50px;
    overflow-x: hidden;
  }
}
