*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header a{
    color: black;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin-bottom: 40px;
}
.logo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 40px;
    height: 40px;
}
.logo .text{
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
article{
    max-width: 600px;
    margin-bottom: 50px;
}
main{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
main nav{
    width: 200px;
    margin-left: 30px;
    border-left: 1px solid rgb(212, 212, 212);
    padding-left: 30px;
}
main nav li{
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
    margin: 5px 0px;
}
main nav li a{
    text-decoration: none;
    width: 190px;
}
.aside-title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
}
h1{
  margin: 20px 0px;
  margin-bottom: 30px; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}
h2{
    margin: 30px 0px;
}
p{
    margin: 20px 0px;
    line-height: 1.6;
}
footer {
    margin-top: 30px;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer p {
    margin: 5px 0;
}


@media screen and (max-width: 900px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    main nav{
        width: 100%;
        border-left: none;
        border-top: 1px solid rgb(212, 212, 212);
        margin-left: 0px;
        padding-left: 0px;
    }
    main nav{
        display: flex;
        justify-content: center;
    }
    main nav ul{
        width: 600px;
    }
  }
