.footer {
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid var(--color1);
}
.footer-child {
  /* background-color: rgb(36, 36, 36); */
  width: 380px;
  min-height: 20px;
  margin: 8px;
  border-radius: 5px;
}
.footer-child .title {
  font-size: 1.5em;
  margin: 10px;
}
.cat-childs {
  display: flex;
  flex-wrap: wrap;
}
.cat-childs a {
  font-family: "CustomFont", "Poppins", sans-serif;
  font-weight: 500;

  font-size: 0.9em;
  color: white;
  background: var(--color7);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  margin: 3px;
}
.cat-childs a:hover {
  color: white;
  background-color: rgb(34, 34, 34);
}

@media screen and (max-width: 600px) {
  .footer-child {
    width: 320px;
    min-height: 20px;
    margin: 8px;
    border-radius: 5px;
  }
}
