* {
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 1.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.body {
  width: 700px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .body {
    width: 400px;
    min-height: 400px;
  }
}
.container {
  /* background-color: blue; */
  border-radius: 10px;
  margin-top: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(26, 26, 26);
}

.container h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.cards {
  width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1.2em;
  min-height: 100px;
  cursor: pointer;
  border-bottom-right-radius: 10px;
}
.front {
  background-color: white;
  color: black;
  border-top-color: rgb(132, 0, 255);
}
.back {
  background-color: white;
  color: grey;
}
.btns {
  margin-top: 20px;
  display: flex;
}
.btn {
  /* background-color: rgb(132, 0, 255);
    color: white; */
  background-color: rgb(26, 26, 26);
  color: white;
  text-align: center;
  width: 120px;
  padding: 15px;
  border-radius: 6px;

  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  opacity: 0.85;
  border-bottom-left-radius: 0px;
}
.master {
  background-color: cyan;
  color: black;
}
.master:hover {
  background-color: #6200ee;
  color: white;
}
